<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atlanta å philliphina</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <button onclick="play()">Play</button>
    </div>
        <div id="words">
            {% for i in range(0, words|length) %}
                <span class="word">{{ words[i] }}</span>
            {% endfor %}
        </div>
    <div>
        <button onclick="skip()">skip</button>
    </div>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>